/* IMPORTED FONT */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* reset */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

/* utility class */
.flex {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}

/* nav */
.nav {
    background-color: #333333;
    color:white;
    padding:1.5rem;
}

/* nav anchor tags */
.nav-links a {
    color:white;
    text-decoration:none;
}

/* nav list items */
.nav-links li {
    list-style: none;
    
}

/* button sign-out */
.btn {
    background-color: #18a2b8;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    color:white;
    padding: 5px 10px;
}