* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.row {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    margin:10px;
}

.col {
    flex:1;
    background-color:#6faaa8;
    color:white;
    padding:20px;
}

.col-2 {
    flex:2;
    background-color:#6faaa8;
    color:white;
    padding:20px;
}

.col-3 {
    flex:3;
    background-color:#6faaa8;
    color:white;
    padding:20px;
}